<!DOCTYPE html>

<html>
<head>
<title>Board Game</title>
<link href="/static/css/main.css" rel="stylesheet"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="/static/javascript/javascript.js"></script>
<meta http-equiv="refresh" content="30" >
</head>
<table class="column">
<tr>
<th colspan="3" id="1f">ffff</th>
</tr>
<tr>
<th colspan="2"> Army </th>
<th> Workers </th>
</tr>
<tr>
<td id="11">Soldiers: 0</td>
<td id="12">Planes: 0</td>
<td id="13">Stone: 2</td>
</tr>
<tr>
<td id="14">Ground Def: 0</td>
<td id="15">Air Def: 0</td>
<td id="16">Wood: 2</td>
</tr>
<tr>
<th colspan="2">Resources</th>
<td id="17">Food: 1</td>
</tr>
<tr>
<td id="18">Stone: 0</td>
<td id="19">Wood: 0</td>
<td id="10">Food: 0</td>
</tr>
</table>
<table class="column">
<tr>
<th colspan="3" id="2f">aaaa</th>
</tr>
<tr>
<th colspan="2"> Army </th>
<th> Workers </th>
</tr>
<tr>
<td id="21">Soldiers: 0</td>
<td id="22">Planes: 1</td>
<td id="23">Stone: 2</td>
</tr>
<tr>
<td id="24">Ground Def: 0</td>
<td id="25">Air Def: 1</td>
<td id="26">Wood: 2</td>
</tr>
<tr>
<th colspan="2">Resources</th>
<td id="27">Food: 1</td>
</tr>
<tr>
<td id="28">Stone: 4</td>
<td id="29">Wood: 4</td>
<td id="20">Food: 2</td>
</tr>
</table>
<table class="column">
<tr>
<th colspan="3" id="3f"> Player 3 </th>
</tr>
<tr>
<th colspan="2"> Army </th>
<th> Workers </th>
</tr>
<tr>
<td id="31">Soldiers</td>
<td id="32">Planes</td>
<td id="33">Stone W</td>
</tr>
<tr>
<td id="34">Ground Def</td>
<td id="35">Air Def</td>
<td id="36">Wood W</td>
</tr>
<tr>
<th colspan="2">Resources</th>
<td id="37">Food W</td>
</tr>
<tr>
<td id="38">Stone</td>
<td id="39">Wood</td>
<td id="30">Food</td>
</tr>
</table></html>